@model Collection

<div class="bg-primary panel-body"><h4>Create Item</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="CreateItem" method="post">
    <input type="hidden" name="CollectionId" value="@Model.Id"/>
    <input type="hidden" name="CreaterId" value="@Model.Creater.Id"/>
    <table class="table table-condensed table-bordered">
        <tr>
            <td><label asp-for="Name"></label></td>
            <td><input name="Name" class="form-control" required/></td>
        </tr>
        @{ var props1 = typeof(Collection).GetProperties(); }
        @for(int i = 7; i < props1.Count(); ++i)
        {
            var value = props1[i].GetValue(Model);
            var name = props1[i].Name;
            <tr>
                @if(value != null){
                    <td>@value</td>
                    @switch (i)
                    {
                        case 7: case 8: case 9:
                        case 10: case 11: case 12:
                        case 13: case 14: case 15:
                            <td><input name="@name.Replace("Name", "Value")" type="text" required/></td>
                            break;
                        case 16: case 17: case 18:
                            <td><input name="@name.Replace("Name", "Value")" type="datetime-local" required/></td>
                            break;
                        case 19: case 20: case 21:
                            <input name="@name.Replace("Name", "Value")" type="hidden" value='false'/>
                            <td><input name="@name.Replace("Name", "Value")" type="checkbox" /></td>
                            break;
                    }
                }
            </tr>
        }


        
    </table>
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Tags</th>
        </tr>
        <tr>
            <td><div id="TagFields" class="col-9"></div></td>
        </tr>
        <tr>
            <div>
                <td><input type="button" id="TagButton" class="btn btn-primary" value="Add Tag" onclick="newField()" /></td>
            </div>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Collection" asp-action="ShowCollection" class = "btn btn-default" asp-route-collectionId="@Model.Id">Cancel</a>
</form>

<script>
    function newField() {
        let container = document.getElementById("TagFields"); 
        let fieldCount = container.getElementsByTagName("input").length;
        let nextFieldId = fieldCount + 1;
        let div = document.createElement("div");
            div.setAttribute("class", "form-group");

        let field = document.createElement("input");
            field.setAttribute("id", "tags" + nextFieldId);
            field.setAttribute("name", "tags");
            field.setAttribute("class", "form-control");
            field.setAttribute("type", "text");
            field.setAttribute("data-val", "true");
            field.setAttribute("required", "");

        div.appendChild(field);
        container.appendChild(div);
    }
</script>