@model Collection

<div class="panel-body">
    <h4>Collection Details</h4>
    <h5>Collection Name - @Model.Name</h5>
    <h5>Creater - <a asp-controller="Account" asp-action ="Profile" asp-route-userId="@Model.Creater.Id">@Model.Creater.UserName</a></h5>
    <h5>Creation Data - @Model.CreationData</h5>
    <h5>Description - @Model.Description</h5>
</div>

<table class="table table-condensed table-bordered">
    <tr>
        <th>Item Name</th>
        @{ var props1 = typeof(Collection).GetProperties(); }
        @for(int i = 3; i < 15; ++i)
        {
            var value = props1[i].GetValue(Model);
            @if(value != null){<th>@value</th>}
        }
        <th>Creation Data</th>
    </tr>
    @if(@Model.Items.Count() == 0) { <td>No Items</td> }
    else
    {
        @foreach(Item item in Model.Items)
        {
            <tr>
                <td><a asp-action="ShowItem" asp-controller="Collection" asp-route-itemId="@item.Id">@item.Name</a></td>

                @{ var props2 = typeof(Item).GetProperties(); }
                @for(int i = 2; i < 14; ++i)
                {
                    var value = props2[i].GetValue(item);
                    @if(value != null){<td>@value</td>}
                }
                @if( Context.Request.Cookies["userId"] == @Model.Creater.Id || Context.User.IsInRole("Admin") ) { 
                    <form asp-controller="Collection", asp-action="DeleteItem" asp-route-itemId="@item.Id">
                    <td><button class="btn btn-danger" type="submit">Delete</button></td>
                    </form>
                }
            </tr>
        }
    }
</table>
@if( Context.Request.Cookies["userId"] == @Model.Creater.Id || @User.IsInRole("Admin")){
    <a class="nav-link text-dark" asp-controller="Collection" asp-action="CreateItem" asp-route-collectionId=@Model.Id>Create Item</a> 
}

