@model Item

<div class="panel-body">
    <h4>Items Details</h4>
    <h5>Collection - <a asp-controller="Collection" asp-action ="ShowCollection" asp-route-collectionId="@Model.Collection.Id">@Model.Collection.Name</a></h5>
</div>


<table class="table table-condensed table-bordered">
    <tr>
        <th>Item Name</th>
        @if(Model.Collection.StringFieldName1 != null) { <th>@Model.Collection.StringFieldName1</th> }
        @if(Model.Collection.StringFieldName2 != null) { <th>@Model.Collection.StringFieldName2</th> }
        @if(Model.Collection.StringFieldName3 != null) { <th>@Model.Collection.StringFieldName3</th> }
        @if(Model.Collection.IntFieldName1 != null) { <th>@Model.Collection.IntFieldName1</th> }
        @if(Model.Collection.IntFieldName2 != null) { <th>@Model.Collection.IntFieldName2</th> }
        @if(Model.Collection.IntFieldName3 != null) { <th>@Model.Collection.IntFieldName3</th> }
        @if(Model.Collection.DateTimeFieldName1 != null) { <th>@Model.Collection.DateTimeFieldName1</th> }
        @if(Model.Collection.DateTimeFieldName2 != null) { <th>@Model.Collection.DateTimeFieldName2</th> }
        @if(Model.Collection.DateTimeFieldName3 != null) { <th>@Model.Collection.DateTimeFieldName3</th> }
        @if(Model.Collection.BoolFieldName1 != null) { <th>@Model.Collection.BoolFieldName1</th> }
        @if(Model.Collection.BoolFieldName2 != null) { <th>@Model.Collection.BoolFieldName2</th> }
        @if(Model.Collection.BoolFieldName3 != null) { <th>@Model.Collection.BoolFieldName3</th> }
    </tr>
    <tr>
        <td>@Model.Name</td>
        @if(Model.StringFieldValue1 != null) { <td>@Model.StringFieldValue1</td> }
        @if(Model.StringFieldValue2 != null) { <td>@Model.StringFieldValue2</td> }
        @if(Model.StringFieldValue3 != null) { <td>@Model.StringFieldValue3</td> }
        @if(Model.IntFieldValue1 != null) { <td>@Model.IntFieldValue1</td> }
        @if(Model.IntFieldValue2 != null) { <td>@Model.IntFieldValue2</td> }
        @if(Model.IntFieldValue3 != null) { <td>@Model.IntFieldValue3</td> }
        @if(Model.DateTimeFieldValue1 != null) { <td>@Model.DateTimeFieldValue1</td> }
        @if(Model.DateTimeFieldValue2 != null) { <td>@Model.DateTimeFieldValue2</td> }
        @if(Model.DateTimeFieldValue3 != null) { <td>@Model.DateTimeFieldValue3</td> }
        @if(Model.BoolFieldValue1 != null) { <td>@Model.BoolFieldValue1</td> }
        @if(Model.BoolFieldValue2 != null) { <td>@Model.BoolFieldValue2</td> }
        @if(Model.BoolFieldValue3 != null) { <td>@Model.BoolFieldValue3</td> }
    </tr>
</table>

<table class="table table-condensed table-bordered">
    <tr>
        <th>Comments</th>
        
    </tr>
    <form asp-action="CreateComment" asp-controller="Collection">
        <td>
            <input type="hidden" name="CreaterId" value="@Context.Request.Cookies["userId"]"/>
            <input type="hidden" name="ItemId" value="@Model.Id"/>
            <input type="text" name="Text"/>
        <button type="submit"  class="btn btn-primary">submit</button></td>
    </form>
    @if(Model.Comments.Count() == 0){ <td>No Comments</td>}
    @foreach(Comment comment in Model.Comments)
    {
        <tr>
            <td>@Model.Collection.Creater.UserName</td>
            <td>@comment.Text</td>
        </tr>
    }
</table>

