@model Item

<div class="panel-body">
    <h4>Items Details</h4>
    <h5>Collection - <a asp-controller="Collection" asp-action ="ShowCollection" asp-route-collectionId="@Model.Collection.Id">@Model.Collection.Name</a></h5>
</div>


<table class="table table-condensed table-bordered">
    <tr>
        <th>Item Name</th>
        @{ var props1 = typeof(Collection).GetProperties(); }
        @for(int i = 3; i < 15; ++i)
        {
            var value = props1[i].GetValue(Model.Collection);
            @if(value != null){<th>@value</th>}
        }
        <th>Creation Item Data</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        @{ var props2 = typeof(Item).GetProperties(); }
        @for(int i = 2; i < 14; ++i)
        {
            var value = props2[i].GetValue(Model);
            @if(value != null){<td>@value</td>}
        }

        @if( Context.Request.Cookies["userId"] == @Model.CreaterId || Context.User.IsInRole("Admin") ) { 
            <form asp-controller="Collection", asp-action="DeleteItem" asp-route-itemId="@Model.Id">
                <td><button class="btn btn-danger" type="submit">Delete</button></td>
            </form>
        }
    </tr>
</table>

<table class="table table-condensed table-bordered">
    <tr>
        <th>Comments</th>
        
    </tr>
    <form asp-action="CreateComment" asp-controller="Collection">
        <td>
            <input type="hidden" name="CreaterId" value="@Context.Request.Cookies["userId"]"/>
            <input type="hidden" name="ItemId" value="@Model.Id"/>
            <input type="text" name="Text"/>
        <button type="submit"  class="btn btn-primary">submit</button></td>
    </form>
    @if(Model.Comments.Count() == 0){ <td>No Comments</td>}
    @foreach(Comment comment in Model.Comments)
    {
        <tr>
            <td>@Model.Collection.Creater.UserName</td>
            <td>@comment.Text</td>
        </tr>
    }
</table>

