@model RoleEditModel
<div class= "bg-primary panel-body" ><h4>Edit Role</h4></div>
<div asp-validation-summary= "All" class= "text-danger"></div>
<form asp-controller="RoleAdmin" asp-action=@Model.ActionName method="post">
    <input type= "hidden" name="roleName" value="@Model.Role.Name" />
    <input type= "hidden" name="roleId" value="@Model.Role.Id" />
    <input type= "hidden" name="actionName" value=@Model.ActionName />
    <hб class= "bg-info panel-body" >@Model.Role.Name, @Model.ActionName</hб>
    <table class= "table table-bordered table-condensed" >
        @foreach (User user in Model.Members){
            <tr>
                <td>@user.UserName</td> 
                <td> <input type="checkbox" name="Ids" value="@user.Id"> </td>
            </tr>
        }
    </table>
    
    <button type="submit" class=" btn Ьtn-primary">@Model.ActionName</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>